.ClpClapIcon {
  position: relative;
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.ClpClapIcon:hover {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

svg {
  width: 20px;
  height: 20px;
  fill: #3498db;
}
